{% load staticfiles %}

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 
	<script src="{% static 'js/main.js' %}"></script>
	{% if debug %}
	<script src='http://127.0.0.1:9001/js/socket.js'></script>
	{% endif %}
</head>

<body>
	<div class="logo" id="Logo">
		<img class=logo__image" src="{% static "img/brown_fox_logo.png" %}" alt="" width="450px"/>
	</div>
	<div class="input">
		<div>
			<ul class="input__suggestions-list" id="predictions-list">
			</ul>
		</div>
		<!--<textarea class="input__type-area" id="type-area">-->
		<!--<textarea class="input__type-area" id="type-area">-->
		<div id="type-area" contenteditable="true">
			Hello Mr. Fox
		</div>
	</div>

</body>
